<h1>Simple Eval System</h1>

<p><%=link_to "Domains", domains_path %></p>
<p><%=link_to "Sub Domains", sub_domains_path %></p>
<p><%=link_to "Indicator Score Definitions", indicator_score_definitions_path %></p>
<p><%=link_to "Indicator Average Definitions", indicator_average_definitions_path %></p>
<p><%=link_to "Evaluative Indicators", evaluative_indicators_path %></p>
<p><%=link_to "Evaluation Definitions", evaluation_definitions_path %></p>

